# Copyright (c) 2025 David Cemin
# SPDX-License-Identifier: Apache-2.0

menuconfig WIFI_DRIVERS
		bool "WiFi Drivers"
		depends on WIFI
		help
			Enable WiFi drivers

if WIFI_DRIVERS

# Include our custom EMW3080 driver only
rsource "emw3080/Kconfig"

endif # WIFI_DRIVERS
