# Copyright (c) 2025 David Cemin
# SPDX-License-Identifier: Apache-2.0

menuconfig WIFI_DRIVERS
	bool "WiFi Drivers"
	depends on WIFI
	help
	  Enable WiFi drivers

if WIFI_DRIVERS

source "$(ZEPHYR_BASE)/drivers/wifi/Kconfig.drivers"

# Include our custom EMW3080 driver
rsource "emw3080/Kconfig"

endif # WIFI_DRIVERS
