/* b_u585i_iot02a.overlay
 *
 * Zephyr devicetree overlay for ST B-U585I-IOT02A
 * Enables I2C2 MEMS/environment sensors, secure element,
 * EEPROM, and dual digital microphones (PDM via MDF/ADF).
 */

/ {
	chosen {
		zephyr,console = &usart1;
	};
};

/* --- I2C2 sensor cluster --- */
&i2c2 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>; /* 100 kHz */

    // Humidity & Temperature Sensor
	hts221@5f {
		compatible = "st,hts221";
		reg = <0x5f>;
		label = "HTS221";
	};

    // Magnetometer
	iis2mdc@1e {
		compatible = "st,iis2mdc";
		reg = <0x1e>;
		label = "IIS2MDC";
	};

    // Accelerometer + Gyroscope
	ism330dhcx@6b {
		compatible = "st,ism330dhcx";
		reg = <0x6b>;
		label = "ISM330DHCX";
	};

    // Pressure Sensor
	lps22hh@5d {
		compatible = "st,lps22hh";
		reg = <0x5d>;
		label = "LPS22HH";
	};

    // ToF Sensor (Custom driver - under development)
	vl53l5cx@29 {
		compatible = "st,vl53l5cx";
		reg = <0x29>;
		label = "VL53L5CX";
		xshut-gpios = <&gpioh 1 GPIO_ACTIVE_LOW>; /* PH1 */
		int-gpios   = <&gpiog 5 GPIO_ACTIVE_HIGH>; /* PG5 */
	};

    /* Ambient Light Sensor - disabled for now
	veml6030@10 {
		compatible = "vishay,veml6030";
		reg = <0x10>;
		label = "VEML6030";
	};
    */

    /* Secure Element - disabled for now
	stsafe@20 {
		compatible = "st,stsafe-a110";
		reg = ;<0x20>;
		label = "STSAFE_A110";
		enable-gpios = <&gpiof 11 GPIO_ACTIVE_LOW>;
	};
    */

    /* EEPROM - disabled for now
	eeprom@57 {
		compatible = "st,24c02";
		reg = <0x57>;
		label = "M24256_EEPROM";
	};
    */
};
