/*
 * Copyright (c) 2023 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 * 
 * EMW3080B WiFi module configuration for B-U585I-IOT02A using SPI interface
 * Based on STMicroelectronics official implementation
 */

#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl.h>

/* EMW3080B SPI2 pins configuration */
&pinctrl {
    spi2_sck: spi2-sck {
        pinmux = <STM32_PINMUX('D', 1, AF5)>;   /* PD1 SPI2_SCK */
        slew-rate = "very-high-speed";
    };
    spi2_miso: spi2-miso {
        pinmux = <STM32_PINMUX('D', 3, AF5)>;   /* PD3 SPI2_MISO */
        bias-pull-up;
    };
    spi2_mosi: spi2-mosi {
        pinmux = <STM32_PINMUX('D', 4, AF5)>;   /* PD4 SPI2_MOSI */
        slew-rate = "very-high-speed";
    };
    /* NSS pin controlled by software GPIO */
};

/* SPI2 configuration for EMW3080B */
&spi2 {
    pinctrl-0 = <&spi2_sck &spi2_miso &spi2_mosi>;
    pinctrl-names = "default";
    status = "okay";

    /* EMW3080B WiFi Module */
    emw3080: emw3080@0 {
        compatible = "mxchip,emw3080";
        reg = <0>;
        spi-max-frequency = <20000000>;  /* 20 MHz SPI clock */
    cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;  /* PB12 as NSS/CS */
        
        /* GPIO control pins for EMW3080B */
        reset-gpios = <&gpiof 15 GPIO_ACTIVE_LOW>;   /* PF15 Reset */
        wakeup-gpios = <&gpiog 15 GPIO_ACTIVE_HIGH>; /* PG15 FLOW/DATA_READY */
        
        status = "okay";
    };
};

/* Disable conflicting UART4 configuration */
&uart4 {
    status = "disabled";
};

/ {
    chosen {
        zephyr,console = &usart1;   /* Keep console on USART1 */
    };

    /* Define WiFi module alias */
    aliases {
        wifi0 = &emw3080;
        mxchip-wifi = &emw3080;
    };
};
